*{
	margin: 0px;
	padding: 0px;
}

h4{
	text-align: left;
	width: 25%;
	border-radius: 0px 0px 15px 0px;
	padding: 5px;
	border: 1px solid gray;
	margin: 0px;
	background: #bd3d58;
	color: white;
}

header, nav, section, footer{
	display: block;
}
body{
	background: #F5F4F2;
}

#main_wrapper{
    border-radius: 15px;
	border: 2px solid #ACB8A5;
	width: 80%;
	margin: 65px auto;
	text-align: right;
	background-color: #EEE5C9;	
}
ul{
    width: 34.%;
    float: right;
    border-radius: 0px 15px 0px 15px;
    list-style-type: none;
	background: #bd3d58;
	margin-right: 0px;
}

ul li{
	display: inline-block; 
	font: bold 14px tahoma;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #FFFFFF;
    color:#bd3d58;
    border-radius:0px 15px 0px 15px;    
}
#blog_section{
    float: center;
    border-radius: 0px 15px 0px 15px;
	text-align: Center;
	width: 20%;
	padding: 5px;
	margin-top: 60px;
	margin-left: 5px;
	margin-right: 5px;	
	background: #bd3d58;
	color: white;
}

#main_section{
	border-radius: 8px;
	background: white;
	border: 2px solid #ACB8A5;
	margin-top: 60px;
	margin-bottom: 45px;
	margin-left: 35px;
	margin-right: 35px;

}
article{
	border: 2px solid #ACB8A5;
	margin: 15px;
	text-align: left;
}

#profile_img{
    float: left;
    width: 200px;
	height: 250px;
	margin-top: 5px;
	margin-right: 15px;
    border-radius: 8px;	
}	
#article_p{
	background:#f9f9f9;
	padding: 5px;
	margin-top: 8px;
	margin-bottom: 0px;
	margin-right: 8px;
	margin-left: 8px;
	text-align: left;
	font:tahoma;
}
/* for Under Construction pages*/
#article_const{
	background:#f9f9f9;
	padding: 6px;
	text-align: center;
	color:black;
	font: 20px bold tahoma;
	margin: 10px;
}
#sub_article_p{
	text-indent: 35px;
	background:#f9f9f9;
	padding: 6px;
	text-align: center;
	font:tahoma;
	margin-top: 0px;
	margin-bottom: 8px;
	margin-right: 8px;
	margin-left: 8px;}
#main_footer{
	clear: both;
	text-align: center;
	border-top: 1px solid white;
	margin-top: 5px;
	padding: 8px;
	color: #e7e7e7;
	background: #bd3d58;	
    border-radius: 0px 0px 15px 15px;
}
